body {
    background-color: gray;
}


h1 {
    color: purple;
    text-align: center;
}


/*propriétés qui permettent de centrer le bouton compteur de clics */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

